<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376903089817-2vktblb7k0ebd6373lu4906nhcesifee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376903089817-2vktblb7k0ebd6373lu4906nhcesifee</string>
	<key>API_KEY</key>
	<string>AIzaSyC6F9Bg526x-WDh4gi1ZpSe46GbHqRYDLw</string>
	<key>GCM_SENDER_ID</key>
	<string>376903089817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.ab.gsilva</string>
	<key>PROJECT_ID</key>
	<string>testab-cc68c</string>
	<key>STORAGE_BUCKET</key>
	<string>testab-cc68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376903089817:ios:ab35cf828d5dffc1ad4208</string>
	<key>DATABASE_URL</key>
	<string>https://testab-cc68c.firebaseio.com</string>
</dict>
</plist>